/* desktop,Laptop: min-width: 985px and max-width: 1083px */

/* header section */

.live-match{
    height: 90vh;
}

/* resizing fonts and images */

.match-info h1{
    font-size: 2.5rem;
}
.img-container{
    width: 30rem;
    height: 23rem;
}
.player-img{
    width: 22rem;
    height: 22rem;
}


/* article-blog section */

.sports-blog{
    justify-content: space-around;
}

/* reducing column gap between cards for relatively small screen size */

.all-article-blogs{
    grid-template-columns: repeat(3,12rem);
    column-gap: 2%;
}
.per-blog{
    width: 100%;
}

.blog-thumbnail img{
    width: 100%;
}

.about-blog{
    width: 74%;
}

/* resizing transfer tag */

.article-tag{
    font-size: .8rem;
}
.article-tag h4{
    font-size: 1rem;
}
