/* tablet: min-width: 700px and max-width: 984px */

.match-section{
    padding: 2.8rem 3.5rem;
}
.match-info{
    margin: 1rem;
}
.match-info h1{
    font-size: 2.35em;
}
.player-img{
    width: 20rem;
    height: 20rem;
}

.sports-blog{
    flex-direction: column;
    row-gap: 2em;
    align-items: center;
}

/* changing the fixed-width link button design for tablets */

.blog-buttons, .match-buttons{
    background-color: white;
    border-radius: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    height: 20%;
}

.blog-buttons a, .match-buttons a{
    width: 30%;
    border: 1px solid silver;
    padding: .45rem;
}

/* grid layout 2 column design for tablet */

.all-article-blogs{
    grid-template-columns: repeat(2,1fr);
}

.per-blog{
    width: 20rem;
}

.blog-thumbnail{
    width: 17rem;
}
.blog-thumbnail img{
    margin-top: 1.3rem;
}

.about-blog{
    width: 17rem;
}

/* showing 'VIEW ALL' button only for tablet */

.view-button a{
    display: inline;
}

/* Webpage-2: match schedule grid layout 2 columns for tablets */

.all-matches{
    grid-template-columns: repeat(2,1fr);
}