/* big-phones: min-width: 573px and max-width: 699px */

.match-section {
    padding: 2.2em 3em;
}

/* changing the flex design to column */

.live-match{
    height: 50rem;
    flex-direction: column;
    align-items: center;
}

/* centering heading and paragraph */

.match-info{
    width: 75%;
    align-items: center;
}
.match-info h1{
    font-size: 3rem;
    text-align: center;
}
.para{
    text-align: center;
}


/* changing the article-blogs flex direction for mobile-phones */

.sports-blog{
    flex-direction: column;
    align-items: center;
}

.blog-buttons, .match-buttons{
    background-color: white;
    width: 100%;
    align-items: center;
    padding: 0;
    
}
.blog-buttons a, .match-buttons a{
    width: auto;
}
.img-container{
    width: 23rem;
    height: 25rem;
}

/* grid layout 1 column design for phones */

.all-article-blogs{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
}
.per-blog{
    width: 100%;
}
.blog-thumbnail{
    width: 100%;
}
.about-blog{
    width: 87%;
}

/* Changing flex-direction for contact links and policies */

.links{
    flex-direction: column;
    align-items: center;
}

.links a{
    display: block;
    padding: 1rem;
}

/* Webpage-2 */

/* grid layout 1 column design for phones */

.all-matches{
    grid-template-columns: repeat(1,1fr);
}
.per-match{
    width: 80vw;
}