/* phone: max-width: 572px */

.match-section {
    padding: .8em;
}

/* resizing things for small phones */

.live-match{
    height: 34rem;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1rem;
    align-items: center;
}
.match-info{
    width: 75%;
    margin: 0;
    align-items: center;
}
.match-info h1{
    font-size: 2.1rem;
    text-align: center;
}

/* adding ELLIPSIS effect on small phones paragraph */

.para{
    text-align: center;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

/* changing flex-direction to column for fixed-width buttons and grid design  */

.sports-blog{
    flex-direction: column;
    align-items: center;
}

/* different design for buttons in phones */

.blog-buttons, .match-buttons{
    background-color: white;
    width: 100%;
    align-items: center;
    padding: 0;
    
}
.blog-buttons a, .match-buttons a{
    border: 1px solid silver;
    width: auto;
}

/* resizing images for small phones */

.img-container{
    width: 18rem;
    height: 19rem;
}
.player-img{
    width: 18rem;
    height: 18rem;
}

/* grid layout 1 column design for small phones */

.all-article-blogs{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
}
.per-blog{
    width: 100%;
}

/* resizing images and about section  */

.blog-thumbnail{
    width: 100%;
}
.about-blog{
    width: 87%;
}

/* Changing flex-direction for contact links and policies */

.links{
    flex-direction: column;
    align-items: center;
}

.links a{
    display: inline-block;
    padding: 1rem;
}

/* Webpage-2 */

/* grid layout 1 column design for phones */

.all-matches{
    grid-template-columns: repeat(1,1fr);
}
.per-match{
    width: 80vw;
}